* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;

    background-color: #484041;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

img {
    width: 8rem;

    border-radius: 10%;

    margin-bottom: 2rem;
}

h1 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;

    margin-bottom: 2rem;
}

span {
    color: red;
}

h3 {
    color: #6C9A8B;
}

em {
    color: yellow;
}